$azul_fondo: #30475E;
$azul_transparente: #30475ed9;
$oro: #CBAF87;
$blanco_fondo: #F3F3F3;
$negro: #121212;
$gris_claro: #E5E5E5;
$gris: hwb(0 70% 30%);
$gris_oscuro: #555555;
$negro_fondo: #333333;
$blanco: #fafafafa;
